body {
    font-family: 'Akaya Telivigala', cursive !important;
}

.header_div {
    padding: 10px;
    color: white;
    background-color: #737373;
}

.header_div p {
    font-weight: bold;
    font-family: sans-serif;
}

.main_div {
    background-image: linear-gradient(white, #81C784);
    height: 823px;
}

.main_div button {
    letter-spacing: 5px;
    font-weight: bolder;
}

.copyright_footer {
    background-color: white;
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
    text-shadow: 2px 2px #9E9E9E;
    color: #AED581;
    margin-top: -70px;
}